<mat-form-field [formGroup]="form" >

    <!-- Label -->
    <mat-label>{{label}}</mat-label>

    <!-- Input -->
    <input #input matInput type="{{type}}" formControlName="{{controlName}}" [value]="value" [disabled]="disabled" >

    <!-- Hint -->
    <mat-hint *ngIf="hint" [innerHTML]="hint" ></mat-hint>

    <!-- Errors -->
    <mat-error *ngIf="!input.value" >{{type}} is required</mat-error>
    <mat-error *ngIf="input.value" >Invalid {{type}}</mat-error>

</mat-form-field>
