<!-- Logo -->
<div id="logo" *ngIf="logo || logoCompact" [class.compact]="compactMode" >
    <span *ngIf="logo" class="logo-full" [class.hidden]="compactMode" [innerHTML]="logo"
          (click)="clickOnLogo(logoMode.full)" ></span>
    <span *ngIf="logoCompact" class="logo-compact" [class.hidden]="!compactMode" [innerHTML]="logoCompact"
          (click)="clickOnLogo(logoMode.compact)" ></span>
</div>

<!-- Scrollable area -->
<div id="wrapper" *ngIf="message || navigation" >

    <!-- Message (content) -->
    <div id="message" *ngIf="message && !compactMode" [innerHTML]="message" ></div>

    <!-- Navigation -->
    <vit-menu id="menu" *ngIf="navigation && !message" [navigation]="navigation"
            [compactMode]="compactMode" [nightMode]="nightMode" [rightAligned]="rightAligned"
            (selectMenuItemEvent)="selectMenuItem($event)" ></vit-menu>

</div>

<!-- Toggle -->
<button mat-icon-button aria-label="Toggle the Side Panel" *ngIf="toggle" id="toggle" [class.open]="!compactMode"
            (click)="clickOnToggle()" >
    <mat-icon>keyboard_arrow_right</mat-icon>
</button>

<!-- Background -->
<div *ngIf="backgroundHTML" id="background" [innerHTML]="backgroundHTML" ></div>
