/*
 * Theming
 */

// Default colors
$colorPanelBackground:      hsl(240, 13%, 91%);
$colorText:                 hsl(0, 0%, 40%);

// Night colors
$colorPanelBackgroundNight: hsl(225, 3%, 29%);
$colorTextNight:            hsl(0, 0%, 100%);


vit-side-panel {
    background-color: $colorPanelBackground; color: $colorText;
}
vit-side-panel.night {
    background-color: $colorPanelBackgroundNight; color: $colorTextNight;
}

#logo {
    &:hover, &:focus, &:active {
        text-shadow: 0 0 15px transparentize($colorText, .9);
    }
}
.night #logo {
    &:hover, &:focus, &:active {
        text-shadow: 0 0 15px transparentize($colorTextNight, .9);
    }
}

#toggle {
    background-color: $colorPanelBackground;
    .mat-icon { color: $colorText; }
    .mat-ripple-element { background-color: #fff; }
}
.night #toggle {
    background-color: $colorPanelBackgroundNight;
    .mat-icon { color: $colorTextNight; }
}
