@import '../../../../styles/_theme';

/*
 * Modes
 */
:host, vit-side-panel {
    // Default
    display: block; position: fixed; top: 0; left: 0;
    box-sizing: border-box; height: 100vh;
    padding: calc(#{$paddingMain}*4) $paddingMain $paddingMain calc(#{$paddingMain}*4);
    // Default - full screen mode for small screens
    width: 100vw; min-width: 300px; max-width: 900px;
    // Default - side panel for wide and ultra-wide screens
    @include for-tablet-landscape-up {
        width: 20vw; min-width: 300px;
    }
    // Compact - side bar for tablets and desktops
    &.compact {
        width: calc(#{$paddingMain}*4); min-width: calc(#{$paddingMain}*4); text-align: center;
        padding: calc(#{$paddingMain}*2) calc(#{$paddingMain}/3) $paddingMain calc(#{$paddingMain}/2);
        // Compact - side stripe for mobiles and tablets in portrait
        @include for-phone-only() {
            width: .25vw; min-width: calc(#{$paddingMain}/2); padding: 0;
        }
    }
    // Right aligned content
    &.right-aligned:not(.compact) {
        padding: calc(#{$paddingMain}*4) calc(#{$paddingMain}*4) $paddingMain $paddingMain; text-align: right;
    }
    // Animation
    &.animated {
        transition: width .5s $animationBouncing, min-width .5s $animationBouncing, padding-top .3s ease;
    }
    &.compact.animated {
        transition: width .3s $animationBouncing, min-width .3s $animationBouncing, padding-top .3s ease;
    }
}


/*
 * Logo
 */
#logo {
    position: relative; z-index: 300; color: inherit; user-select: none;
    margin-bottom: calc(#{$paddingMain}*5); height: 80px;
    font-size: 32px; font-weight: 600; text-transform: uppercase; line-height: .9;
    transition: height .5s ease-in-out, text-shadow .1s ease-in-out;
    &:hover, &:focus, &:active {
        cursor: pointer;
    }
    .logo-full, .logo-compact {
        display: block; transition: transform .5s ease-in-out; transform: scale(1);
        &.hidden {
            position: absolute; top: 0; right: 0; transform: scale(0);
            transition-duration: .3s;
        }
    }
    &.compact .hidden { left: 0; right: initial; }
    &.compact { height: 40px; }
}


/*
 * Wrapper (scrollable area) for the Menu
 */
#wrapper {
    margin: 30px 0 0 calc(-#{$paddingMain}*4);
    width: calc(100% + #{$paddingMain} + #{$paddingMain}*4); // 100% plus left and right padding of the SidePanel
    height: calc(100% - 70px - 25px); // 100% minus logo and top margin
    // Scrollbar
    @extend .scrollbar-container; overflow-x: hidden;
}
.compact #wrapper {
    margin-left: calc(-#{$paddingMain}/2);
    width: calc(100% + #{$paddingMain}/2 + #{$paddingMain}/3); // 100% plus left and right padding of the SidePanel
    height: calc(100% - 30px - 25px); // 100% minus logo and top margin
}
.right-aligned:not(.compact) #wrapper { margin: 30px 0 0 -#{$paddingMain}; }
.has-toggle #wrapper {
    height: calc(100% - 30px - 30px - 40px); // 100% minus logo, top margin and the toggle and the bottom
}


/*
 * Menu
 */
#wrapper vit-menu {
    width: 100%;
}


/*
 * Message
 */
#message {
    position: relative; z-index: 700;
    padding: $paddingMain $paddingMain $paddingMain calc(#{$paddingMain}*4);
    color: inherit; font-size: 20px; font-weight: 300; text-transform: uppercase;
}
.right-aligned #message {
    padding: $paddingMain calc(#{$paddingMain}*4) $paddingMain $paddingMain;
}


/*
 * Toggle
 */
#toggle {
    position: absolute; z-index: 900; bottom: 1vw; right: 9px; user-select: none;
    transform: rotate(0deg); transition: transform .2s ease;
    &.open { transform: rotate(180deg); }
}


/*
 * Background
 */
#background {
    position: absolute; z-index: 100; overflow: hidden; top: 0; left: 0;
    width: 100%; height: 100%; user-select: none;
}

// Limit height
@media only screen and (max-height: 600px) {
    :host, vit-side-panel { padding-top: calc(#{$paddingMain}*2); }
    #logo {
        margin-bottom: calc(#{$paddingMain}/2);
    }
}
