<!-- Default (stroke) button -->
<button *ngIf="type === 'default'" mat-stroked-button color="primary" [disabled]="disabled"
        [class.compact]="compact" [class.wide]="wide" [class.icon-only]="icon && !label" [class.loading]="loading" >
    <mat-icon *ngIf="icon" [class.float-right]="iconRight" >{{icon}}</mat-icon> {{label}}
</button>

<!-- Primary (solid, action) button -->
<button *ngIf="type === 'primary'" mat-flat-button color="primary" [disabled]="disabled"
        [class.compact]="compact" [class.wide]="wide" [class.icon-only]="icon && !label" [class.loading]="loading" >
    <mat-icon *ngIf="icon" [class.float-right]="iconRight" >{{icon}}</mat-icon> {{label}}
</button>

<!-- Lite (stroke, no borders) button -->
<button *ngIf="type === 'lite'" class="mat-button-lite" mat-stroked-button color="primary" [disabled]="disabled"
        [class.compact]="compact" [class.wide]="wide" [class.icon-only]="icon && !label" [class.loading]="loading" >
    <mat-icon *ngIf="icon" [class.float-right]="iconRight" >{{icon}}</mat-icon> {{label}}
</button>
