@import '../../../../styles/_theme';

$iconButtonSize:        70px;
$iconSize:              40px;
$iconButtonSizeCompact: 50px;
$iconSizeCompact:       30px;

// Sizes
:host, vit-button {
    display: inline-block; margin: $paddingMain $paddingMain 0 0;
    &.width-medium button { padding-left: calc(#{$paddingMain}*2); padding-right: calc(#{$paddingMain}*2); }
    &.width-full, &.width-full button { width: 100%; }
    &:last-child { margin-right: 0; }
}

// Common styles
.mat-button-base {
    // Enable effect
    &:after {
        display: block; position: absolute; content: ''; width: 100%; height: 100%; left: 0; top: 0;
        background-color: inherit; transform: scale(2); opacity: 0; border-radius: $iconButtonSize;
        pointer-events: none; transition: transform .5s ease-in, opacity .5s linear;
    }
}

// TYPES
// Lite
.mat-button-base.mat-button-lite { border: none; }

// Compact
.mat-button-base.compact {
    padding: 0 8px; line-height: 23px;
    .mat-icon { margin-right: 0; }
    .mat-icon.float-right { margin-top: -1px; margin-left: 3px; }
}

// Wide
.mat-button-base.wide {
    padding-left: calc(#{$paddingMain}*2); padding-right: calc(#{$paddingMain}*2);
}

// Label and icon
.mat-button-base {
    .mat-icon { margin-top: -1px; margin-right: 3px; }
    .mat-icon.float-right { float: right; margin-top: 5px; margin-left: 5px; margin-right: 0; }
}

// Icon only
.mat-button-base.icon-only,
.mat-button-base[disabled][disabled].icon-only {
    min-width: $iconButtonSize; max-width: $iconButtonSize; height: $iconButtonSize;
    border-radius: $iconButtonSize;
    transition: max-width .2s ease-in-out, color .2s ease-in-out;
    .mat-icon {
        width: $iconSize; height: $iconSize; font-size: $iconSize;
        transition: margin .2s ease-in-out;
    }
    // Compact
    &.compact {
        min-width: $iconButtonSizeCompact; max-width: $iconButtonSizeCompact; height: $iconButtonSizeCompact;
        .mat-icon {
            width: $iconSizeCompact; height: $iconSizeCompact; font-size: $iconSizeCompact;
        }
    }
}

// Disabled
.mat-button-base[disabled][disabled]:after {
    opacity: .3; transform: scale(1); transition: transform .15s ease-in, opacity .15s ease-in-out;
}
.mat-flat-button[disabled][disabled] {
    background-color: rgba(0,0,0,.08);
}

// Loading
.mat-button-base.loading {
    &:before {
        display: block; position: absolute; content: '';
        border: 3px solid; border-bottom: 0;
        animation: rotating 1s linear infinite;
        left: calc(50% - #{$paddingMain}/1.5); top: calc(50% - #{$paddingMain}/1.5);
        width: calc(#{$paddingMain}*1.5); height: calc(#{$paddingMain}*1.5/2);
        border-top-left-radius: $paddingMain; border-top-right-radius: $paddingMain;
    }
    // Compact
    &.compact:before {
        left: calc(50% - #{$paddingMain}/4); top: calc(50% - #{$paddingMain}/4);
        width: calc(#{$paddingMain}/2); height: calc(#{$paddingMain}/4);
    }
    // Icon only
    &.icon-only:before {
        left: calc(50% - #{$iconSize}/1.5/2); top: calc(#{$iconSize}/1.9);
        width: calc(#{$iconSize}/1.5); height: calc(#{$iconSize}/1.5/2);
    }
}
