@import '../../../../styles/_theme';

.mat-button {
    width: 100%; height: 100%; padding: 0;
    max-width: 50vw; max-height: 50vw;
    min-width: 400px; min-height: 400px;
    img { width: 100%; height: 100%; }

    // Compact version
    &.compact {
        max-width: 36px; max-height: 36px;
        min-width: 16px; min-height: 16px;
    }

    // With background
    &.background {
        box-sizing: content-box; padding: 2%;
        border-radius: 50%;
        &.compact { padding: 2px; }
    }
}
