<!-- Login form -->
<form id="formLogin" class="columns is-centered" [formGroup]="formLogin" >

    <div class="column is-3-desktop is-4-tablet is-7-mobile" >

        <!-- Email as a Login -->
            <vit-input [form]="formLogin" controlName="email" type="email" label="Email" ></vit-input>

        <!-- Password -->
            <vit-input [form]="formLogin" controlName="password" type="password" label="Password"
                hint="<a href='/' title='Restore the password' >Forgot password?</a>" ></vit-input>

    </div>

    <!-- Form actions -->
    <div class="column is-1 is-1-mobile form-actions" >
        <vit-button id="buttonLogin" type="primary" tooltip="Log in" icon="keyboard_arrow_right"
               [disabled]="!formLogin.valid || !formLogin.controls.email.value || !formLogin.controls.password.value"
               (clickEvent)="getValues()" ></vit-button>
    </div>

</form>

<!-- Registration link -->
<div id="registrationLinkBlock" class="columns is-centered" >
    <div class="column is-3-desktop is-4-tablet is-7-mobile" >
        <vit-button type="default" [compact]="true" [wide]="true" label="Register" ></vit-button>
    </div>
</div>
