// .columns { display: flex; }
.form-actions { position: relative; }

// Submit button at right of the login form
#buttonLogin {
    position: absolute;
    margin-left: -15px; top: calc(50% - 13px); transform: translateY(-50%);
}

#registrationLinkBlock {
    margin-top: 30px; text-align: center;
}
