<!--
    OVERRIDE STORYBOOK PREVIEW STYLES
-->

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,700,900" >
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" >

<style>
    /* Common styles for preview and the markdown content */
    html, body { overflow-y: auto; min-height: 100%; }
    html, #docs-root p, #docs-root table, #docs-root ul li, #docs-root ol li {
        line-height: 1.3; font-family: 'Roboto', sans-serif; font-size: 16px; color: #444;
    }
    body { overflow: hidden; }
    strong { font-weight: 500; }
    code { color: #e00168; border-radius: 4px; }


    /* Heading */
    #docs-root .sbdocs-content > h1:first-of-type,
    #docs-root .sbdocs-content > h2:first-of-type,
    #docs-root .sbdocs-content > h3:first-of-type,
    #docs-root .sbdocs-content > h4:first-of-type {
        margin-top: 0;
    }
    #docs-root h1, #docs-root h2, #docs-root h3 {
        margin: 60px 0 30px; line-height: 1.1; font-weight: 400; color: #444; border-bottom: none;
    }
    #docs-root h1 {
        margin-bottom: 60px; font-size: 46px; text-transform: uppercase;
        background: linear-gradient(to right, #3f00ff, #e00168, #e00168, #e00168);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent;
    }
    #docs-root h2 { font-size: 34px; }
    #docs-root h3 {
        margin-bottom: 15px; font-size: 26px; color: #9a9a9a;
        padding-left: 15px; padding-bottom: .075em; border-left: 4px solid #3f00ff;
        background: linear-gradient(to right, #3f00ff, #e00168, #e00168, #e00168, #e00168, #e00168);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent;
    }
    #docs-root h4 { color: #444; font-size: 22px; font-weight: 500; }
    #docs-root .sbdocs-content > p + h2:first-of-type, #docs-root .sbdocs-content > p + h3:first-of-type, #docs-root .sbdocs-content > p + h4:first-of-type,
    #docs-root .sbdocs-content > ol + h2:first-of-type, #docs-root .sbdocs-content > ol + h3:first-of-type, #docs-root .sbdocs-content > ol + h4:first-of-type,
    #docs-root .sbdocs-content > ul + h2:first-of-type, #docs-root .sbdocs-content > ul + h3:first-of-type, #docs-root .sbdocs-content > ul + h4:first-of-type,
    #docs-root .sbdocs-content > table + #docs-root .sbdocs-content > h2:first-of-type, #docs-root .sbdocs-content > table + h3:first-of-type, #docs-root .sbdocs-content > table + h4:first-of-type {
        margin-top: 60px;
    }


    /* Tables */
    #docs-root table { font-size: 15px; }
    #docs-root table thead th {
        padding: 10px 20px; font-weight: 500; font-size: 14px; color: #949494;
    }
    #docs-root table tbody { box-shadow: 0 0 3px rgba(0,0,0,.15); }
    #docs-root table tr { background: none; }
    #docs-root table tbody tr { border-top: 1px solid #f1f1f1; }
    #docs-root table tbody tr:first-child { border: none; }
    #docs-root table tr td { padding: 15px 20px; border: none; vertical-align: top; }
    #docs-root table tr td:nth-child(odd) { background-color: #f9f9f9; }


    /* Components preview */
    #docs-root iframe { margin-bottom: 15px; }
    #docs-root .sbdocs-preview > div > div > div { margin-top: 0; }
</style>
