@import '../../../../styles/_theme';

/*
 * Base styles
 */
// List base
vit-menu {
    display: block; position: relative; z-index: 500; width: 100%;
    color: inherit; user-select: none;
    .mat-list-base { padding-top: 0;
        .mat-list-item.mat-list-option {
            color: inherit; transition: all .2s ease-in-out;
            // Special ripple effect
            .mat-ripple { z-index: 510; }
            .mat-list-text {
                z-index: 520; overflow: visible; position: relative;
            }
            .mat-list-item-content-reverse .mat-list-text { padding: 0; }
            // Label
            .mat-list-item-content {
                padding: 0 $paddingMain 0 calc(#{$paddingMain}*4);
                .label {
                    opacity: 1; margin-top: 1px;
                    transition: opacity .3s ease-in-out; transition-delay: .2s;
                    &.hidden { position: absolute; opacity: 0; transition: none; }
                }
            }
        }
    }

}
// Right aligned
vit-menu .right-aligned { text-align: right;
    .mat-list-item.mat-list-option .mat-list-item-content {
        padding: 0 calc(#{$paddingMain}*4) 0 $paddingMain;
    }
}
// Level 1 (root)
vit-menu .mat-list-base .mat-list-item {
    .label-icon {
        position: absolute; top: 2px; right: calc(#{$paddingMain}*4 - 2px);
        transform: scale(1); transition: transform .1s ease-in-out;
        &.hidden { position: absolute; transform: scale(0); }
    }
}
// Level 2 (children)
vit-menu .mat-list-base .sub-item { opacity: 1;
    &.hidden { opacity: 0; height: 0; padding-top: 0; padding-bottom: 0; }
}
// Highlighted items
vit-menu .mat-list-base .mat-list-item {
    // Active and selected
    &.active { transition-duration: .5s; }
    // Hover
    &:not(.selected) {
        &:hover, &:focus, &:active { transition: none; }
    }
}


/*
 * With icons
 */
vit-menu .with-icons .mat-list-item .label-icon { left: 0; }
// On right
vit-menu .right-aligned.with-icons .mat-list-item {
    .label-icon { left: initial; right: 0; }
}


/*
 * Sub-level toggle
 */
vit-menu .toggle-expand {
    position: absolute; left: 0; top: -1px;
    transform: translateX(-85%) rotate(0deg); transition: top .1s ease, transform .2s ease;
    &.open { top: -5px; transform: translateX(-85%) rotate(180deg); }
}
vit-menu .right-aligned .toggle-expand {
    left: initial; right: 0; transform: translateX(85%) rotate(0deg);
    &.open { transform: translateX(85%) rotate(180deg); }
}


/*
 * Compact mode
 */
vit-menu.compact {
    .mat-list-base .mat-list-item > .mat-list-item-content {
        padding: 0;
        .mat-icon { top: -13px; }
    }
}
