<mat-selection-list [multiple]="false" [class.with-icons]="alwaysShowIcons" [class.right-aligned]="rightAligned" >

    <!-- Root level -->
    <ng-container *ngFor="let item of navigation; let i = index;" >

        <!-- Separator -->
        <div class="separator" *ngIf="item.separator" >&nbsp;</div>

        <!-- Level 1 (root) -->
        <mat-list-option *ngIf="!item.separator" class="item" [ngClass]="item.class"
                         [class.active]="item.expanded" [class.selected]="item.selected"
                         (click)="selectMenuItem((i + 1) + '-0')" >

            <!-- Icon and label -->
            <mat-icon *ngIf="item.icon"
                      class="label-icon" [class.hidden]="!compactMode && !alwaysShowIcons" >
                {{item.icon}}</mat-icon>
            <span *ngIf="item.label" class="label" [class.hidden]="compactMode"
                >{{item.label}}</span>

            <!-- Second level toggle -->
            <button mat-button *ngIf="item.children && !compactMode"
                    class="toggle-expand" [class.open]="item.expanded"
                    (click)="expandMenuItem(i + 1, $event)" >
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>

        </mat-list-option>

        <!-- Level 2 (children) -->
        <ng-container *ngIf="item.children" >
            <ng-container *ngFor="let childItem of item.children; let s = index;" >

                <!-- Separator -->
                <div class="separator" *ngIf="childItem.separator" >&nbsp;</div>

                <!-- Child item -->
                <mat-list-option *ngIf="!childItem.separator" class="sub-item" [ngClass]="childItem.class"
                                 [class.hidden]="(compactMode && !childItem.icon) || !item.expanded"
                                 [class.active]="item.expanded" [class.selected]="childItem.selected"
                                 (click)="selectMenuItem((i + 1) + '-' + (s + 1))" >
                    <!-- Icon and label -->
                    <mat-icon *ngIf="childItem.icon"
                              class="label-icon" [class.hidden]="!compactMode && !alwaysShowIcons" >
                        {{childItem.icon}}</mat-icon>
                    <span *ngIf="childItem.label" class="label" [class.hidden]="compactMode"
                        >{{childItem.label}}</span>
                </mat-list-option>
            </ng-container>
        </ng-container>

    </ng-container>

</mat-selection-list>
