/*
 * Theming
 */

// Default colors
$colorPanelBackground:      hsl(240, 13%, 91%);
$colorPanelBlock:           hsl(240, 18%, 89%);     // Based on $colorPanelBackground
$colorSelected:             hsl(0, 0%, 100%);       // Content background color
$colorText:                 hsl(0, 0%, 40%);
// Night colors
$colorPanelBackgroundNight: hsl(225, 3%, 29%);
$colorPanelBlockNight:      hsl(225, 3%, 27%);      // Based on $colorPanelBackgroundNight
$colorSelectedNight:        hsl(225, 4%, 23%);      // Content background color night
$colorTextNight:            hsl(0, 0%, 100%);
// Font
$fontSizeMenuItem:          20px;
$fontSizeMenuSubItem:       16px;
$fontSizeMenuIcon:          28px;

/*
 * Base styles
 */
// List base
vit-menu .mat-list-base {
    background-color: $colorPanelBackground;
    .mat-list-item {
        // Ripple effect
        .mat-ripple .mat-ripple-element { background-color: $colorSelected; }
        // Label
        & > .mat-list-item-content {
            .mat-list-text { color: $colorText; }
            .label { font-size: $fontSizeMenuItem; font-weight: 400; text-transform: uppercase; }
            .mat-icon {
                font-size: calc(#{$fontSizeMenuIcon} - 4px); width: $fontSizeMenuIcon; height: $fontSizeMenuIcon;
            }
        }
    }
}
// Level 2 (children)
vit-menu .mat-list-base .sub-item {
    & > .mat-list-item-content .label { font-size: $fontSizeMenuSubItem; text-transform: none; }
}
// Highlighted items
vit-menu .mat-list-base .mat-list-item {
    // Active and selected
    &.active { background-color: $colorPanelBlock; }
    &.selected { background-color: $colorSelected;
        & > .mat-list-item-content .label { font-weight: 600; }
    }
    // Hover
    &:not(.selected) {
        &:hover, &:focus, &:active {
            background-color: transparentize($colorSelected, .80);
        }
        &.active {
            &:hover, &:focus, &:active {
                background-color: lighten($colorPanelBlock, 3.5%);
            }
        }
    }
}

/*
 * With icons
 */
vit-menu .with-icons .mat-list-item .label {
    padding-left: calc(#{$fontSizeMenuIcon} + 6px);
}
// On right
vit-menu .right-aligned.with-icons .mat-list-item .label {
    padding-left: 0; padding-right: calc(#{$fontSizeMenuIcon} + 6px);
}


/*
 * Compact mode
 */
vit-menu.compact {
    width: calc(#{$fontSizeMenuIcon}*2 + 2px);
    .mat-list-base .mat-list-item .label-icon {
        left: calc(#{$fontSizeMenuIcon/2} + 2px); font-size: $fontSizeMenuIcon;
    }
    .mat-list-base .mat-list-item.active:not(.selected) { background-color: initial; }
}


/*
 * Night mode
 */
vit-menu.night .mat-list-base {
    background-color: $colorPanelBackgroundNight; color: $colorTextNight;
    .mat-list-option {
        // Ripple
        .mat-ripple .mat-ripple-element { background-color: $colorSelectedNight; }
        // Highlighted
        &.active { background-color: $colorPanelBlockNight; }
        &.selected { background-color: $colorSelectedNight; }
        // Label
        .mat-list-text { color: $colorTextNight; }
        // Hover
        &:not(.selected) {
            &:hover, &:focus, &:active {
                background-color: transparentize($colorSelectedNight, .80);
            }
            &.active {
                &:hover, &:focus, &:active {
                    background-color: darken($colorPanelBlockNight, 1%);
                }
            }
        }
    }
}
/*
 * Sub-level toggle
 */
vit-menu .toggle-expand {
    .mat-icon { color: $colorText; }
    .mat-ripple-element { background-color: #fff; }
}
.night .toggle-expand .mat-icon { color: $colorTextNight; }
