/**
 * CUSTOM COLOUR PALETTE
 *
 * 1| Hegrim Main
 * 2| Hegrim Time
 * 3| Hegrim Notes
 * 4| Hegrim Projects
 *
 */


// 1| HEGRIM MAIN

@function hegrim-gold() { @return (
    50 : #fbf3e0,
    100 : #f5e2b3,
    200 : #eecf80,
    300 : #e7bb4d,
    400 : #e2ad26,
    500 : #dd9e00,
    600 : #d99600,
    700 : #d48c00,
    800 : #cf8200,
    900 : #c77000,
    A100 : #fff7ef,
    A200 : #ffdebc,
    A400 : #ffc589,
    A700 : #ffb86f,
    contrast: (
        50 : $dark-primary-text,
        100 : $dark-primary-text,
        200 : $dark-primary-text,
        300 : $dark-primary-text,
        400 : $dark-primary-text,
        500 : $light-primary-text,
        600 : $light-primary-text,
        700 : $light-primary-text,
        800 : $light-primary-text,
        900 : $light-primary-text,
        A100 : $dark-primary-text,
        A200 : $dark-primary-text,
        A400 : $dark-primary-text,
        A700 : $dark-primary-text
    )
)};

@function hegrim-emerald() { @return (
    50 : #e3f1ee,
    100 : #b9ddd5,
    200 : #8ac7b9,
    300 : #5bb09d,
    400 : #379f88,
    500 : #148e73,
    600 : #12866b,
    700 : #0e7b60,
    800 : #0b7156,
    900 : #065f43,
    A100 : #91ffd7,
    A200 : #5effc5,
    A400 : #2bffb3,
    A700 : #11ffa9,
    contrast: (
        50 : $dark-primary-text,
        100 : $dark-primary-text,
        200 : $dark-primary-text,
        300 : $dark-primary-text,
        400 : $light-primary-text,
        500 : $light-primary-text,
        600 : $light-primary-text,
        700 : $light-primary-text,
        800 : $light-primary-text,
        900 : $light-primary-text,
        A100 : $dark-primary-text,
        A200 : $dark-primary-text,
        A400 : $dark-primary-text,
        A700 : $dark-primary-text
    )
)};


// 2| HEGRIM TIME

@function hegrim-orange() { @return (
    50 : #faeae0,
    100 : #f2cab3,
    200 : #eaa780,
    300 : #e2834d,
    400 : #db6926,
    500 : #d54e00,
    600 : #d04700,
    700 : #ca3d00,
    800 : #c43500,
    900 : #ba2500,
    A100 : #ffe7e3,
    A200 : #ffbab0,
    A400 : #ff8e7d,
    A700 : #ff7863,
    contrast: (
        50 : $dark-primary-text,
        100 : $dark-primary-text,
        200 : $dark-primary-text,
        300 : $dark-primary-text,
        400 : $dark-primary-text,
        500 : $light-primary-text,
        600 : $light-primary-text,
        700 : $light-primary-text,
        800 : $light-primary-text,
        900 : $light-primary-text,
        A100 : $dark-primary-text,
        A200 : $dark-primary-text,
        A400 : $dark-primary-text,
        A700 : $dark-primary-text
    )
)};

@function hegrim-purple() { @return (
    50 : #efe0f5,
    100 : #d6b3e5,
    200 : #bb80d4,
    300 : #9f4dc2,
    400 : #8b26b5,
    500 : #7600a8,
    600 : #6e00a0,
    700 : #630097,
    800 : #59008d,
    900 : #46007d,
    A100 : #d4aaff,
    A200 : #ba77ff,
    A400 : #a044ff,
    A700 : #932aff,
    contrast: (
        50 : $dark-primary-text,
        100 : $dark-primary-text,
        200 : $dark-primary-text,
        300 : $light-primary-text,
        400 : $light-primary-text,
        500 : $light-primary-text,
        600 : $light-primary-text,
        700 : $light-primary-text,
        800 : $light-primary-text,
        900 : $light-primary-text,
        A100 : $dark-primary-text,
        A200 : $dark-primary-text,
        A400 : $dark-primary-text,
        A700 : $dark-primary-text
    )
)};


// 3| HEGRIM NOTES

@function hegrim-green() { @return (
    50 : #f0f5e0,
    100 : #d8e5b3,
    200 : #bfd480,
    300 : #a5c24d,
    400 : #91b526,
    500 : #7ea800,
    600 : #76a000,
    700 : #6b9700,
    800 : #618d00,
    900 : #4e7d00,
    A100 : #daffaa,
    A200 : #c4ff77,
    A400 : #adff44,
    A700 : #a2ff2a,
    contrast: (
        50 : $dark-primary-text,
        100 : $dark-primary-text,
        200 : $dark-primary-text,
        300 : $dark-primary-text,
        400 : $dark-primary-text,
        500 : $light-primary-text,
        600 : $light-primary-text,
        700 : $light-primary-text,
        800 : $light-primary-text,
        900 : $light-primary-text,
        A100 : $dark-primary-text,
        A200 : $dark-primary-text,
        A400 : $dark-primary-text,
        A700 : $dark-primary-text
    )
)};

@function hegrim-vinous() { @return (
    50 : #f5e5e0,
    100 : #e7beb3,
    200 : #d79380,
    300 : #c6674d,
    400 : #ba4726,
    500 : #ae2600,
    600 : #a72200,
    700 : #9d1c00,
    800 : #941700,
    900 : #840d00,
    A100 : #ffb4b1,
    A200 : #ff837e,
    A400 : #ff524b,
    A700 : #ff3a31,
    contrast: (
        50 : $dark-primary-text,
        100 : $dark-primary-text,
        200 : $dark-primary-text,
        300 : $dark-primary-text,
        400 : $light-primary-text,
        500 : $light-primary-text,
        600 : $light-primary-text,
        700 : $light-primary-text,
        800 : $light-primary-text,
        900 : $light-primary-text,
        A100 : $dark-primary-text,
        A200 : $dark-primary-text,
        A400 : $dark-primary-text,
        A700 : $light-primary-text
    )
)};


// 4| HEGRIM PROJECTS

@function hegrim-blue() { @return (
    50 : #e0ecf5,
    100 : #b3d0e5,
    200 : #80b1d4,
    300 : #4d91c2,
    400 : #267ab5,
    500 : #0062a8,
    600 : #005aa0,
    700 : #005097,
    800 : #00468d,
    900 : #00347d,
    A100 : #aac7ff,
    A200 : #77a5ff,
    A400 : #4483ff,
    A700 : #2a72ff,
    contrast: (
        50 : $dark-primary-text,
        100 : $dark-primary-text,
        200 : $dark-primary-text,
        300 : $dark-primary-text,
        400 : $light-primary-text,
        500 : $light-primary-text,
        600 : $light-primary-text,
        700 : $light-primary-text,
        800 : $light-primary-text,
        900 : $light-primary-text,
        A100 : $dark-primary-text,
        A200 : $dark-primary-text,
        A400 : $light-primary-text,
        A700 : $light-primary-text
    )
)};

@function hegrim-magenta() { @return (
    50 : #f5e0f5,
    100 : #e7b3e7,
    200 : #d780d7,
    300 : #c64dc6,
    400 : #ba26ba,
    500 : #ae00ae,
    600 : #a700a7,
    700 : #9d009d,
    800 : #940094,
    900 : #840084,
    A100 : #ffb1ff,
    A200 : #ff7eff,
    A400 : #ff4bff,
    A700 : #ff31ff,
    contrast: (
        50 : $dark-primary-text,
        100 : $dark-primary-text,
        200 : $dark-primary-text,
        300 : $light-primary-text,
        400 : $light-primary-text,
        500 : $light-primary-text,
        600 : $light-primary-text,
        700 : $light-primary-text,
        800 : $light-primary-text,
        900 : $light-primary-text,
        A100 : $dark-primary-text,
        A200 : $dark-primary-text,
        A400 : $dark-primary-text,
        A700 : $dark-primary-text
    )
)};
