/*
 * CUSTOM THEMING for ANGULAR MATERIAL
 *
 * 1| Palette and colors
 * 2| Themes
 * 3| Fonts
 * 4| Device breakpoints
 * 5| Main parameters
 * 6| Form elements
 *
 */

@import "~@angular/material/theming";
@include mat-core();


/*
 * 1| PALETTE and COLORS
 */

@import "palette";

// Hegrim Main
$palette-main-primary:      mat-palette(hegrim-gold());
$palette-main-accent:       mat-palette(hegrim-emerald());
$color-main-primary:        mat-color($palette-main-primary, 500);
$color-main-accent:         mat-color($palette-main-accent, 500);

// Hegrim Time
$palette-time-primary:      mat-palette(hegrim-orange());
$palette-time-accent:       mat-palette(hegrim-purple());
$color-time-primary:        mat-color($palette-time-primary, 500);
$color-time-accent:         mat-color($palette-time-accent, 500);

// Hegrim Notes
$palette-notes-primary:     mat-palette(hegrim-green());
$palette-notes-accent:      mat-palette(hegrim-vinous());
$color-notes-primary:       mat-color($palette-notes-primary, 500);
$color-notes-accent:        mat-color($palette-notes-accent, 500);

// Hegrim Sites
$palette-projects-primary:  mat-palette(hegrim-blue());
$palette-projects-accent:   mat-palette(hegrim-magenta());
$color-projects-primary:    mat-color($palette-projects-primary, 500);
$color-projects-accent:     mat-color($palette-projects-accent, 500);

// Common
$palette-warn:              mat-palette($mat-red);
$color-gray:                #44444a;
$color-gray-light:          #d1d1d1;

// Shade colours
$color-background:          #f5f5f5;
$color-text:                #444;
$color-panel-dark:          #808080;
$color-panel-light:         #fff;

// Action colours
$color-success:             #86b200;
$color-warning:             #f03900;
$color-failure:             mat-color($palette-warn, 500);
$color-disabled:            #d1d1d1;


/**
 * 2| THEMES
 */

$hegrim-main-theme-light:       mat-light-theme($palette-main-primary, $palette-main-accent, $palette-warn);
$hegrim-main-theme-dark:        mat-dark-theme($palette-main-primary, $palette-main-accent, $palette-warn);
$hegrim-time-theme-light:       mat-light-theme($palette-time-primary, $palette-time-accent, $palette-warn);
$hegrim-time-theme-dark:        mat-dark-theme($palette-time-primary, $palette-time-accent, $palette-warn);
$hegrim-notes-theme-light:      mat-light-theme($palette-notes-primary, $palette-notes-accent, $palette-warn);
$hegrim-notes-theme-dark:       mat-dark-theme($palette-notes-primary, $palette-notes-accent, $palette-warn);
$hegrim-projects-theme-light:   mat-light-theme($palette-projects-primary, $palette-projects-accent, $palette-warn);
$hegrim-projects-theme-dark:    mat-dark-theme($palette-projects-primary, $palette-projects-accent, $palette-warn);

// Include theme styles for core and each component used in your app
@include angular-material-theme($hegrim-main-theme-light); // default
.hegrim-main-theme          { @include angular-material-theme($hegrim-main-theme-light); }
.hegrim-main-theme-dark     { @include angular-material-theme($hegrim-main-theme-dark); }
.hegrim-time-theme          { @include angular-material-theme($hegrim-time-theme-light); }
.hegrim-time-theme-dark     { @include angular-material-theme($hegrim-time-theme-dark); }
.hegrim-notes-theme         { @include angular-material-theme($hegrim-notes-theme-light); }
.hegrim-notes-theme-dark    { @include angular-material-theme($hegrim-notes-theme-dark); }
.hegrim-projects-theme      { @include angular-material-theme($hegrim-projects-theme-light); }
.hegrim-projects-theme-dark { @include angular-material-theme($hegrim-projects-theme-dark); }
.hegrim-main-theme-dark, .hegrim-time-theme-dark, .hegrim-notes-theme-dark, .hegrim-projects-theme-dark {
    background-color: #444; color: $light-primary-text;
}

// Array of theme objects
$themes: (
    ( main      #dd9e00 #148e73 )
    ( time      #d54e00 #7600a8 )
    ( notes     #7ea800 #ae2600 )
    ( projects  #0062a8 #ae00ae )
);


/**
 * 3| FONTS
 */

$hegrim-typography: mat-typography-config(
    $font-family:   'Roboto, Helvetica Neue, sans-serif',
    $headline:      mat-typography-level(32px, 36px, 600),
    $body-1:        mat-typography-level(16px, 18px, 400),
    $button:        mat-typography-level(16px, 16px, 600)
);

// Applying typography
@include angular-material-typography($hegrim-typography);


/*
 * 4| DEVICE BREAKPOINTS
 */
@mixin for-phone-only { @media (max-width: 600px) { @content; } }
@mixin for-tablet-portrait-up { @media (min-width: 600px) { @content; } }
@mixin for-tablet-landscape-up { @media (min-width: 900px) { @content; } }
@mixin for-desktop-up { @media (min-width: 1200px) { @content; } }
@mixin for-big-desktop-up { @media (min-width: 1800px) { @content; } }


/**
 * 5| MAIN PARAMETERS
 */

// Indents
$paddingMain:       15px;

// Animation
$animationBouncing: cubic-bezier(.5,-.5,.5,1.5);
@keyframes rotating {
    from { transform: rotate(0deg); transform-origin: 50% 100%; }
    to { transform: rotate(360deg); transform-origin: 50% 100%; }
}


/**
 * 6| FORM ELEMENTS
 */

@import 'mat-button';
@import 'mat-form-field';
@import 'scrollbar';
