/*
 * CONTENT
 *
 */

body { margin: 0; font-family: Roboto, sans-serif; }

// Headers
h1, h2 { font-weight: 300; line-height: 1; }
h1 { font-size: 54px; }
h2 { font-size: 36px; }
h3 { font-size: 24px; font-weight: 400; }
h4 { font-size: 18px; font-weight: 600; }
h1, h2, h3, h4 {
    &:first-child { margin-top: 0; }
}

// Text
b { font-weight: 600; }

// Actions
a { color: #678fdd;
    &:hover, &:focus, &:active { cursor: pointer; color: #71a8ff; }
}
