/**
 * ANGULAR MATERIAL - BUTTON
 *
 */

// Common Button styles
button {
    &.mat-button-base, &.mat-raised-button, &.mat-flat-button, &.mat-stroked-button {
        margin: 0; border-radius: 18px;
        text-transform: uppercase; font-weight: 500;
    }
}

// Stroked Button
.mat-stroked-button:not([disabled]) {
    &.mat-primary, &.mat-accent, &.mat-warn {
        border-color: inherit;
    }
}

// Loading
.mat-button-base.loading .mat-button-wrapper { opacity: 0; }

/*
 * Disabled button color
 */
/*
@each $name, $color-primary in $themes {
    .hegrim-name-theme, .hegrim-name-theme-dark {
        .mat-primary.mat-flat-button[disabled][disabled] {
            background-color: transparentize($color-primary,.8);
            color: $light-primary-text;
        }
    }
}
*/

/*
 * Dark background
 */

// Common Button styles
.dark {
    &.mat-primary, &.mat-accent, &.mat-warn {
        color: inherit; background-color: $light-primary-text;
    }
}

// Stroked Button
.dark .mat-stroked-button:not([disabled]) {
    &.mat-primary, &.mat-accent, &.mat-warn {
        color: $light-primary-text; border-color: $light-primary-text;
    }
}
