/**
 * ANGULAR MATERIAL - FORM FIELD
 *
 */

.mat-form-field {
    margin: .9em .5em 0 0; width: 100%;
    &:last-child { margin-right: 0; }
    &.mat-form-field-appearance-fill {

        // Focused
        &.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
            transform: translateY(-1.6em) scale(.75);
        }

        // Error
        &.mat-form-field-invalid {
            .mat-form-field-flex { background-color: transparentize($color-warning,.9); }
        }

        .mat-form-field-label-wrapper {
            top: -1em; padding-top: 1.2em;
            .mat-form-field-label {
                top: initial; margin: .3em 0 0 .25em;
            }
        }
        .mat-form-field-flex {
            padding: .1em .75em 0 .75em; border-radius: 18px; transition: background-color .1s ease-in-out;
            .mat-form-field-infix {
                padding: .6em .25em .7em; border-top: 0.1em solid transparent;
            }
        }
        .mat-form-field-underline { display: none; }

        // Hints and Errors
        .mat-form-field-wrapper {
            padding-bottom: 1em; transition: padding-bottom .2s ease-in-out;
            .mat-form-field-subscript-wrapper { margin-top: .5em; text-align: right;
                .mat-hint, .mat-error { margin-top: 3px; }
                .mat-hint { width: calc(100% + 1em); margin-right: -1em; }
            }
        }

    }
}

/*
 * Focused input color based on the current theme
 */
@each $name, $color-primary in $themes {
    .hegrim-#{$name}-theme, .hegrim-#{$name}-theme-dark {
        .mat-form-field.mat-focused .mat-form-field-flex {
            background-color: transparentize($color-primary,.9);
        }
    }
}
