/*
 * SCROLLBAR
 * A custom scrollbar for any container.
 * To apply use @extend .scrollbar-container class.
 */

$colorScrollbarTrack:       hsla(0, 0%, 50%, .15);
$colorScrollbarThumb:       hsla(0, 0%, 40%, .6);
$colorScrollbarThumbHover:  hsla(0, 0%, 45%, .6);


.scrollbar-container {
    overflow: overlay;

    // For Firefox
    scrollbar-color: $colorScrollbarThumb $colorScrollbarTrack;
    scrollbar-width: thin;
    &:hover {
        scrollbar-color: $colorScrollbarThumbHover $colorScrollbarTrack;
    }

    // The whole bar
    &::-webkit-scrollbar {
        min-width: 2px; width: .5vw; max-width: 5px;
    }
    &:hover::-webkit-scrollbar {
        min-width: 10px; width: 1vw; max-width: 15px;
    }

    // Track
    &::-webkit-scrollbar-track {
        border-radius: 5px;
        background: $colorScrollbarTrack;
    }

    // Handle
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: $colorScrollbarThumb;
    }

    // Handle on hover
    &::-webkit-scrollbar-thumb:hover {
        background: $colorScrollbarThumbHover;
    }
}
